/*colors in our pallette
FBFBF2
e5e6e4
C9C5CB
BAACBD
22223b
a6a2a2
847577
59656F
DCC9B6
*/

body{
  background-image: url("images/background.png");
}

#main{
  background: #e5e6e4;
  border: .3em solid #DCC9B6;
  border-radius: 1em;
  text-align: center;
  width: 75%;
  margin: 15em auto;
  z-index: 0;
  padding: 2em;
}

.resumePic{
  width: 80%;
}

nav {
  border: .3em solid #847577;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav h1{
  background-color: #59656F;
  display: block;
  margin: auto;
  padding: .4em;
  font-family: verdana;
  color: #DCC9B6;
}

ul {
  border-top: .3em solid #847577;
  list-style-type: none;
  margin: auto;
  padding: .5em;
  overflow: hidden;
  background-color: #DCC9B6;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: #847577;
  padding: 1em 1.5em;
  text-decoration: none;
  font-family: verdana;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #59656F;
  color: #DCC9B6;
  text-decoration: none;
}
