/*colors in our pallette
e5e6e4
C9C5CB
BAACBD
22223b
a6a2a2
847577
59656F
DCC9B6
*/

body{
  background-image: url("images/background.png");
}

#topBar{
  border: .3em solid #847577;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav{
  z-index: 3;
}

nav h1{
  background-color: #59656F;
  display: block;
  margin: auto;
  padding: .6em;
  font-family: verdana;
  color: #DCC9B6;
  z-index:999;
}

.topUl{
  border-top: .3em solid #847577;
  list-style-type: none;
  margin: auto;
  padding: .5em;
  overflow: hidden;
  background-color: #DCC9B6;
}

.topList {
  display: inline-block;
}

.topList a {
  display: block;
  color: #847577;
  padding: 1em 1.5em;
  text-decoration: none;
  font-family: verdana;
  transition: all ease 0.5s;
  position: relative;
  top:0;
}

/* Change the link color to #111 (black) on hover */
.topList a:hover {
  background-color: #59656F;
  color: #DCC9B6;
  text-decoration: none;
  top: -3px;
}

#main{
  background: #e5e6e4;
  border: .3em solid #DCC9B6;
  border-radius: 1em;
  text-align: center;
  width: 75%;
  margin: 15em auto;
  z-index: 0;
  padding: 3em;
}

#about{
  background: #C9C5CB;
  border: .5em solid #847577;
  border-radius: 5em;
}

#about h1{
  display: inline-block;
  font-family: verdana;
  font-size: 4.75em;
}

#about img{
  display: inline-block;
}

#about p{
  font-family: verdana;
  font-size: 1.5em;
  padding: 1em 4em;
}

.gridContainer{
  padding-top: 2em;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
}

.gridItem{
  background: #C9C5CB;
  border: .5em solid #847577;
  border-radius: 3em;
  padding: 1.5em;

  position: relative;
  top:0;
  transition: all ease 0.5s;
}

.gridItem:hover{
  top:-10px;
}

.gridItem img{
  width:100%;
  display: inline;
}

.download h5{
  border: #847577 solid .2em;
  border-radius: 1em;
  background: #DCC9B6;
  padding: .5em;
  margin: .5em;
  position: relative;         /*for transitioning icons up*/
  top:0;                      /*first position when idle*/
  transition: all ease 0.5s;  /*tells all new properties to transition with ease over 0.5s*/
  color: black;
  text-decoration: none;
}

.download h5:hover{
  text-decoration: none;
  top: -4px;
  color: black;
}


#resume{
  padding-top:5em;
}

.resumePic{
  width: 80%;
}

.resumePic1{
  margin-top: 3em;
}

#contact{
  list-style-type: none;
  margin: 1em;
  padding: 0;
  width: 5%;
  height: 20%;
  bottom: 10em;
  position: fixed;
}

#contact li{
  margin: 1em;
}

#contact a{
  position: relative;         /*for transitioning icons up*/
  top:0;                      /*first position when idle*/
  transition: all ease 0.5s;  /*tells all new properties to transition with ease over 0.5s*/
  color: black;
  text-decoration: none;
}

#contact a:hover{
 top: -10px;                  /*because of the transition in #contact a{} these will take over the original properties smoothly*/
 color: #847577;
}









/*
essential styles:
these make the slideshow work
*/

#slides {
    top: 11em;
    position: relative;
    height: 30em;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    overflow: hidden;
    transform: translate(-100%, 0);
    transition: transform ease 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
    overflow: hidden;
    transform: translate(0, 0);
}

.leaving {
  opacity: 1;
  z-index: 2;
  transform: translate(100%, 0);
}
/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background: orange;
}
.slide:nth-of-type(3) {
    background: green;
}
.slide:nth-of-type(4) {
    background: blue;
}
.slide:nth-of-type(5) {
    background: purple;
}
